---
layout: default
banner:
    description:
    text-color: '#e8d8b1'
    overlay-color:
        color: '#000000'
        opacity: 0.3
    image: /assets/images/about_giselle.jpg
    hide-small-logo: false
burger-menu:
    background-color: '#e6b446'
    text-color: '#fff'
slideshow-with-text:
    images:
        -
            image_path: /assets/images/giselle-opening-2.jpg
            text: ''
        -
            image_path: /assets/images/giselle-opening-1.jpg
            text: ''
        -
            image_path: /assets/images/giselle-website-17.jpg
            text: La vie third est belle
        -
            image_path: /assets/images/giselle-opening-3.jpg
            text: ''
        -
            image_path: /uploads/laying-down-giselle.jpg
            text: ''
        -
            image_path: /uploads/table-prep-giselle.jpg
            text: ''
    speed_in_seconds: 3
slideshow-2:
    images:
        - /assets/images/giselle-website-9.jpg
    speed_in_seconds: 1
footer:
    background: dark
seo:
    title: 'Giselle Bali | Mediterrannean House in Canggu '
    description: 
    image:
    keywords:
    author:
    crawl: true
---
<header class="dark-section bg-cover bg-center text-center relative z-20 pb-16 md:py-[5vh]" style="background-image: url('{{page.banner.image}}'); color: {{page.banner.text-color}};">
        <div class="absolute inset-0" style="opacity:{{page.banner.overlay-color.opacity}}; background:{{page.banner.overlay-color.color}}"></div>
        {% if page.banner.video.file %}
        <video autoplay muted loop class="absolute inset-0 w-full h-full object-cover">
            <source src="{{page.banner.video.file}}" type="{{page.banner.video.file_type}}" />
        </video>
        {% endif %}
        <div class="max-w-screen-2xl mx-auto pt-[12rem] md:pt-0 flex flex-col content-between min-h-[90vh] relative z-30">
            {% include nav.html color = page.banner.text-color  %}
            <div class="p-4 text-center m-auto">
            {% include banner-svg/index.html width = "70vw" %}
            </div>
            <div class="m-auto relative" style="max-width: 30rem;">
                <h3>
                    {{page.banner.description}}
                </h3>
    
                    <div class="md:hidden text-center mt-8">
                        <a href="https://www.sevenrooms.com/explore/giselle/reservations/create/search/" class="dark-section editable mx-auto inline-block button book-now-button">
                    book now
                        </a>
                    </div>

            </div>

        </div>
    </header>




<section class="flex items-center justify-center">
    <div class="text-center max-w-screen-lg mx-auto" style="max-width: 45rem;">
        <div class="editable mb-8">
            <p> Giselle is a restaurant born from friendship and love, created by a group of friends with deep roots and experience in hospitality. More than just a place to eat, it reflects the soul of the Riviera — warm, vibrant, and timeless, like an endless summer. The menu is built around local, responsibly sourced ingredients, cooked with care, passion, and a touch of Mediterranean elegance. Every dish, every glass, every detail is meant to offer our guests the very best.
            </p>
            <p> Located in the heart of Batu Bolong on Jalan Tanah Barak, just a few hundred meters from the beach, Giselle is where sunsets turn into nights, where flavors meet stories, and where the Riviera finds a home in Canggu.
            </p>    

        </div>
        <div class="flex justify-center">
            {% include svg-images/girlandumbrella.html width = "40%" %}

        </div>
    </div>

</section>


<!-- 
vesion with text over image
<section class=" slideshow bright-section bg-center bg-no-repeat md:min-h-screen py-[50vw] md:py-0 flex flex-col justify-center items-center" style="background-image: url(/assets/images/Screenshot-3.png); background-size: min( max(17rem,36%), 100%)">
    <div class="w-[50%]">
        {% include svg-text/french-words.html %}    
    

    <div class="data-divs">
    {% for image in page.slideshow-with-text.images %}
        <div class="data-div-1" data-url="{{image.image_path}}" data-text="{{image.text}}">
            <img src="{{image.image_path}}" alt="" />
        </div>
    {% endfor %}

</div>

 -->


<section class=" slideshow bright-section bg-center bg-no-repeat min-h-[100vw] md:min-h-screen flex flex-col justify-end" style="background-image: url(/assets/images/Screenshot-3.png); background-size: min( max(17rem,36%), 50%)">
    <div>
        <div class="max-w-screen-2xl mx-auto md:flex justify-between shrink-0 basis-100">
            <a class="button hidden md:hidden" href="/menu">See food menu > </a>
            <a href="https://www.sevenrooms.com/explore/giselle/reservations/create/search/" class="button book-now-button">Make a reservation > 
        </a></div>
    </div>

    <div class="data-divs">
    {% for image in page.slideshow-with-text.images %}
        <div class="data-div-1" data-url="{{image.image_path}}" data-text="{{image.text}}">
            <img src="{{image.image_path}}" alt="" />
        </div>
    {% endfor %}

</div>

</section>

<script>
    const slideshow = document.querySelector('.slideshow');


    const dataDivs = document.querySelectorAll('.data-div-1');



    let currentIndex = 0;

    function showNextImageOne() {
        dataDivs[currentIndex].classList.remove('active');
        currentIndex = (currentIndex + 1) % dataDivs.length;
        dataDivs[currentIndex].classList.add('active');
        slideshow.style.backgroundImage = `url(${dataDivs[currentIndex].dataset.url})`;
        // slideshow.querySelector('h2').innerText = dataDivs[currentIndex].dataset.text;
    }

    setInterval(showNextImageOne, {{page.slideshow-with-text.speed_in_seconds}} * 1000);
</script>

<!-- 
<section>
    
    <div class="max-w-screen-lg mx-auto">
        <div class="editable flex flex-col">
            <p>
                <a class="letter-spacing" href="/about">
                See Food Menu ›
            </a>
        </p>
        
        <p>
            <a class="letter-spacing" href="/about">
                See Drink Menu ›
            </a>
        </p>
        
        <p>
            <a class="letter-spacing" href="/about">
                About our concept ›
            </a>
        </p>
        </div>
        <div class="text-right relative -right-[17%] md:-right-[5%]">
            <img class="editable inline-block max-w-[40%] w-[40%]" src="/assets/images/get-in-touch-line-drawing.svg" alt="" />
            
        </div>
        
        
    </div>
        
</section> -->

<section class="slideshow-2 flex justify-center items-end py-28 bg-center bg-cover" style="background-image: url({{page.slideshow-2.images[0]}}); min-height: 60vh; ">
    <!-- <div class="text-center max-w-screen-lg mx-auto">
        <p>
            <a class="px-8 py-4 base-section letter-spacing" href="/resvation-link">BOOK A TABLE</a>
        </p>
    </div> -->
<div class="data-divs">
    {% for image in page.slideshow-2.images %}
    <div class="data-div-2" data-url="{{image}}"><img src="{{image}}" alt="" /></div>
    {% endfor %}
</div>
</section>

<script>
    const slideshow2 = document.querySelector('.slideshow-2');


    const dataDivs2 = document.querySelectorAll('.data-div-2');


if (dataDivs2.length > 1) {

    let currentIndexSecond = 0;

    function showNextImageTwo() {
        console.log(currentIndexSecond);
        dataDivs2[currentIndexSecond].classList.remove('active');
        currentIndexSecond = (currentIndexSecond + 1) % dataDivs2.length;
        dataDivs2[currentIndexSecond].classList.add('active');
        slideshow2.style.backgroundImage = `url(${dataDivs2[currentIndexSecond].dataset.url})`;
    }

    setInterval(showNextImageTwo, {{page.slideshow-2.speed_in_seconds}} * 1000);
    } else {
        console.log('not enough slides for slideshow-2',dataDivs2.length)
    }

</script>