---
layout: default
banner:
  description: >-
    Designed by Chef Darquin, our French co-founder, this menu tells two
    stories: the raw delicacy of crudo and the bold power of dishes touched by
    fire. Fresh, simple, yet refined, each plate carries the soul of the
    Mediterranean and the effortless elegance of the Riviera. We work
    exclusively with sustainable local fishermen. As such, our fish offering may
    vary depending on the day’s freshest catch.
  text-color: '#ffffff'
  overlay-color:
    color: '#722'
    opacity: 0
  image: /assets/images/beach-cooking.jpg
  hide-small-logo: false
burger-menu:
  background-color: '#e6b446'
  text-color: '#fff'
menus:
  - name: bites
    dishes:
      - dish_name: 'Truffle Croque Toast '
        image:
        price: 75
        text-color: '#9f4837'
      - dish_name: Beef Tartare, Potato Millefeuilles
        image: /uploads/beef-tartare.png
        price: 65
        text-color: '#9f4837'
      - dish_name: Sea Bream Tartelette, Yuzu
        image: /uploads/sea-bream-tartelette-yuzu-1.jpg
        price: 45
        text-color: '#9f4837'
      - dish_name: Marinated Sweet Peppers, Herb Butter, Sardine
        image: /uploads/marinated-sweet-peppers-herb-butter-sardine.jpg
        price: 45
        text-color: '#9f4837'
      - dish_name: Smoked Whitefish Croquettes
        image: /uploads/smoked-whitefish-croquettes.jpg
        price: 65
        text-color: '#9f4837'
      - dish_name: Oyster, Leche de Tigre, Tomatoes, Basil oil
        image: /uploads/oyster-leche-de-tigre-tomatoes-basil-oil-1.jpg
        price: 130
        text-color: '#9f4837'
  - name: plates
    dishes:
      - dish_name: Bread and Butter
        image: /uploads/bread-and-butter-1.jpg
        price: 50
        text-color: '#fff'
      - dish_name: 'Jamón Ibérico Bellota '
        image: /uploads/jamo-n-ibe-rico-bellota-1.jpg
        price: 250
        text-color: '#9f4837'
      - dish_name: G.F.C - Giselle Fried Chicken (5pc)
        image: /uploads/g-f-c-giselle-fried-chicken-5pc.jpg
        price: 140
        text-color: '#9f4837'
      - dish_name: Prawn Cocktail, Romesco, Aioli
        image: /uploads/shrimp-cocktail-romesco-aioli.jpg
        price: 140
        text-color: '#9f4837'
      - dish_name: Gougère Comté Cheese & Ibérico Ham
        image: /uploads/gouge-re-comte-cheese-ibe-rico-ham.jpg
        price: 120
        text-color: '#9f4837'
      - dish_name: Crab Roll, Beurre Blanc, French Toast
        image: /uploads/crab-roll-beurre-blanc-french-toast-1.jpg
        price: 250
        text-color: '#9f4837'
      - dish_name: Ashari Clams, Sake, Beurre Blanc
        image: /uploads/ashari-clams-sake-beurre-blanc-2.jpg
        price: 350
        text-color: '#fff'
      - dish_name: Gazpacho, Jamón Ibérico, Melon
        image: /uploads/gazpacho-jamo-n-ibe-rico-melon.jpg
        price: 110
        text-color: '#9f4837'
      - dish_name: 'Angus Beef Tartare , Cured Egg yolk, Parmesan Aioli '
        image: /uploads/beef-tartare-potato-millefeuilles-2.jpg
        price: 190
        text-color: '#9f4837'
      - dish_name: Tomato, Stracciatella, Strawberries, Fresh Herbs
        image: /uploads/tomato-stracciatella-strawberries-fresh-herb.jpg
        price: 170
        text-color: '#9f4837'
      - dish_name: Charcoal Ceasar Cos Salad, Anchovies, Crispy Skin
        image: /uploads/charcoal-ceasar-cos-salad-anchovies-crispy-skin.jpg
        price: 90
        text-color: '#fff'
      - dish_name: Wood fired Cauliflower, Tempura, Miso and Pesto
        image: /uploads/wood-fired-cauliflower-tempura-miso-and-pesto-1.jpg
        price: 80
        text-color: '#fff'
  - name: crudo
    dishes:
      - dish_name: 'Caviar Tin, Brioche, Cream, Onion Espuma '
        image:
        price: 1,590
        text-color: '#9f4837'
      - dish_name: Scallop Crudo, Cucumber, Lemon, Buttermilk
        image: /uploads/scallop-crudo-cucumber-lemon-buttermilk-1.jpg
        price: 150
        text-color: '#9f4837'
      - dish_name: Bluefin Tuna Tartare, Yuzu, Cucumber, Avocado
        image: /uploads/tuna-tartare-yuzu-cucumber-avocado-1.jpg
        price: 190
        text-color: '#9f4837'
      - dish_name: Smoked Salmon Trout, Avocado, Jalapeno
        image: '/uploads/smoked-salmon-trout-avocado.png'
        price: 250
        text-color:
      - dish_name: 'Hamachi, Pomelo, Grapes, Dashi'
        image: '/uploads/hamachi.jpg'
        price: 150
        text-color:
      - dish_name: Mahi Mahi, Straciatella, Tarragon,  Red Shiso
        image: /uploads/mahi-mahi-straciatella-tarragon-red-shiso-2.jpg
        price: 150
        text-color: '#9f4837'
  - name: seafood platter
    dishes:
      - dish_name: Prawns | Oysters | Scallop Crudo | Smoked Salmon | Tuna Tartare
        image: /uploads/prawns-oysters-raw-scallop-smoked-salmon-tuna-tartare-1.jpg
        price: 890
        extra: + add lobster   690
        text-color: '#9f4837'
  - name: chef hors serie
    dishes:
      - dish_name: Barramundi in Salt Crust, Flambéed, Beurre Blanc Noilly Prat
        image: >-
          /uploads/barramundi-in-salt-crust-flambe-ed-beurre-blanc-noilly-prat.jpg
        price: 610
        text-color: '#fff'
      - dish_name: Madai Sashimi, Yuzukosho Vinaigrette
        image: /uploads/madai-sashimi-yuzukosho-vinaigrette-1.jpg
        price: 630
        text-color: '#9f4837'
      - dish_name: Beef Wellington, Foie Gras, Mushrooms
        image: /uploads/beef-wellington-foie-gras-mushrooms-1.jpg
        price: 870
        text-color: '#fff'
      - dish_name: Wagyu Tomahawk MB8
        image: 
        price: 250 per 100gr
        text-color: '#9f4837'
  - name: wood - fired
    dishes:
      - dish_name: Grouper, Zucchini, Calamansi Butter Sauce
        image:
        price: 280
        text-color: '#9f4837'
      - dish_name: ' Grilled Catch of the Day, Sweet Peppers, Carrot Puree '
        image:
        price: '260'
        text-color: '#9f4837'
      - dish_name: Grilled Octopus Leg, Miso Corn, Smoked Potato Espuma
        image: /uploads/grilled-octopus-leg-miso-corn-smoked-potato-espuma.jpg
        price: 190
        text-color: '#fff'
      - dish_name: Wood Fired Chicken, Supreme Sauce, Basquaise Condiment
        image: /uploads/wood-fired-chicken-supreme-sauce-basquaise-condiment.jpg
        price: 210
        text-color: '#fff'
      - dish_name: 'Lamb Shoulder Confit, Candied Fruit '
        image:
        price: 350
        text-color: '#9f4837'
      - dish_name: Pork Chop, Mole Salsa, Pumpkin
        image: /uploads/pork-chop-mole-salsa-pumpkin-1.jpg
        price: 290
        text-color: '#fff'
      - dish_name: "Beef Cheek, Pomme Paillasson, Chives Mayonnaise\_"
        image: /uploads/beef-cheek-pomme-paillasson-chives-mayonnaise-1.jpg
        price: 290
        text-color: '#fff'
      - dish_name: 'Wagyu Hanger Steak & Bone Marrow '
        image: /uploads/wagyu-hanger-steak-bone-marrow-1.jpg
        price: 195 / 100gr
        text-color: '#fff'
      - dish_name: Wagyu Rib Eye MB7
        image:
        price: 290 / 100gr
        text-color: '#9f4837'
  - name: homemade pasta
    dishes:
      - dish_name: Agnolotti, Truffle, Paris Ham, Comté
        image: /uploads/agnolotti-truffle-paris-ham-comte-1.jpg
        price: 250
        text-color: '#fff'
      - dish_name: 'Lemon Butter Linguine, Crab, Parmesan '
        image: /uploads/lemon-butter-linguine-crab-meat-parmesan-2.jpg
        price: 290
        text-color: '#fff'
      - dish_name: Foie Gras Risotto, Truffle, Parsley Cream
        image: /uploads/foie-gras-risotto-truffle-parsley-cream-1.jpg
        price: 330
        text-color: '#fff'
      - dish_name: 'Gnocchi, Sage Pesto, Ricotta'
        image: /uploads/gnocchi-sage-pesto-ricotta.jpg
        price: 110
        text-color: '#fff'
  - name: sides
    dishes:
      - dish_name: "Mashed Potatoes\_"
        image: 
        price: 70
        text-color: '#9f4837'
      - dish_name: "French Fries\_"
        image: 
        price: 40
        text-color: '#9f4837'
      - dish_name: "Wood Fired Broccolini, Egg Yolk, Miso\_"
        image: /uploads/wood-fired-asparagus-egg-yolk-miso.jpg
        price: 90
        text-color: '#fff'
      - dish_name: Wood Fired Carrots, Garlic confit, Pollen
        image: /uploads/wood-fired-carrots-garlic-confit-pollen.jpg
        price: 50
        text-color: '#fff'
      - dish_name: Riviera Salad, Ventresca, Green Beans, Baby Potatoes
        image: 
        price: 80
        text-color: '#9f4837'
  - name: dessert
    dishes:
      - dish_name: Grand Cru Chocolate Souffle, Olive Oil, Sea Salt
        image: /uploads/grand-cru-chocolate-souffle-olive-oil-sea-salt.jpg
        price: 75
        text-color: '#fff'
      - dish_name: Hazelnut and Vanilla Millefeuille, Praline
        image: 
        price: 75
        text-color: '#9f4837'
      - dish_name: Clafoutis, Seasonal Fruit
        image: 
        price: 65
        text-color: '#9f4837'
      - dish_name: Profiteroles, Chantilly, Grand Cru Chocolate Sauce
        image:
        price: 80
        text-color: '#9f4837'
      - dish_name: "Tiramisu"
        image: /uploads/tiramisu.jpg
        price: 70
        text-color: '#fff'
  - name: dessert cocktails
    dishes:
      - dish_name: Espresso - Vodka, Coffee, Kahlua
        image: 
        price: 130
        text-color: '#9f4837'
      - dish_name: Latte - Vodka, Bailey’s, Frangelico, Coffee, Cream
        image: 
        price: 150
        text-color: '#9f4837'
      - dish_name: Chocolate - Cognac, Chocolate, Caramel, Coffee
        image: 
        price: 130
        text-color: '#9f4837'
      - dish_name: Amaretto Sour
        image: 
        price: 160
        text-color: '#9f4837'
      - dish_name: Chocolate Old Fashioned
        image: 
        price: 130
        text-color: '#9f4837'
      - dish_name: B52 - A kiss with heat
        image: 
        price: 70
        text-color: '#9f4837'
footer:
  background: dark
seo:
  title: Menu | Giselle Bali
  description:
  image:
  keywords:
  crawl: false
---
<header class="bright-section text-center relative z-20 md:py-[5vh]" style=" color: {{page.banner.text-color}};">
        <div class="absolute inset-0 hidden md:grid grid-cols-2">
            <div class="absolute top-0 left-0 right-[50vw] h-full bg-cover bg-center" style="background-image: url('{{page.banner.image}}'); ">

            </div>
        </div>

        <div class="max-w-screen-2xl mx-auto flex flex-col content-between min-h-[95vh] relative z-30">
            {% include nav.html %}
          <div class=" px-12 md:p-0">

            <div class="mobile-banner bg-cover bg-cneter py-[30vh] md:py-0 mt-[9rem] md:mt-0">
              <div class="hidden md:block text-center">
                {% include banner-svg/dine-with-us.html width="80%" %}
              </div>
              <div class="md:hidden text-center">
                {% include banner-svg/menu.html width="80%" %}
              </div>
              <!-- <img src="{{page.banner.banner-svg}}" alt="starters" class="m-auto" style="width: 80%"/> -->
            </div>
          </div>

            <div class="md:grid grid-cols-2 p-12 m-auto">
                <div></div>
                <div class="text-left justify-center md:px-24">
                    <p> {{page.banner.description}} </p>
                </div>

            </div>
        </div>
    </header>

    <style>
        .mobile-banner{
            background-image: url('{{page.banner.image}}');
        }

        @media screen and (min-width: 768px) {
            .mobile-banner{
                background-image: none;
            }
          
        }

    </style>


    <!-- menu fun -->
    <section class="sticky top-0 z-20 px-0 md:py-4 base-section menu-nav showing-image-menu">
      <div class="mx-(--side-padding) border-b border-dark flex justify-between items-center">
        <h2>Menu</h2>
        <div class="grid grid-cols-2 gap-8">
          {% include svg-images/text-menu-icon.html width="45px" %}
          {% include svg-images/image-menu-icon.html width="45px" %}
        </div>
      </div>
      <div class="flex flex-nowrap overflow-scroll px-(--side-padding)">
        {% for menu in page.menus %}
        <a class="{% if forloop.first %} pl-0 {% endif %} button whitespace-nowrap" href="#{{menu.name | replace: ' ',''}}">{{menu.name}}</a>
        {% endfor %}
      </div>
      <div>
        <span>

        </span>
        <span>

        </span>
      </div>

    </section>

    <!-- extra sticky code -->
    <style>
      body {
        max-height: 100vh;
        overflow: scroll;
      }
    </style>

    <section class="menu-section z-10 p-0 h-initial showing-image-menu" style="scroll-snap-type: x mandatory;">

{% for menu in page.menus %}
<div class="{% cycle 'featured-section pb-0','featured-section pb-0','featured-section pb-0','featured-section pb-[5%]','dark-section pb-0','dark-section pb-0','dark-section pb-0','dark-section pb-[5%]','bright-section b-0','bright-section pb-[5%]' %}">
  
            <div class="pt-[5%] content-between relative z-10 md:pb-4 slider-menu-item showing-image-grid px-(--side-padding)" id="{{menu.name | replace: ' ',''}}">
                <div class="px-5p px-[5%] ">
                  <h3 class="h1 cursive">
                    {{menu.name}}
                  </h3>
                </div>
              </div>
              
              <div class="text-menu hidden px-(--side-padding)">
                {% for food in menu.dishes %}
                <div class="flex justify-between gap-8">
                  <p>{{food.dish_name}}</p>
                  <p>{{food.price}}</p>
                </div>
                {% if food.extra %}
                <p>{{food.extra}}</p>
                {% endif %}
                
                {% endfor %}
              </div>

              <div class="image-grid grid-cols-3 hidden overflow-scroll max-w-full px-(--side-padding)">
                {% for food in menu.dishes %}
                <div class="relative flex justify-center items-end" style="aspect-ratio: 3/4;">
                  <img src="{{food.image | default: '/uploads/placeholder.jpg'}}" alt="{{food.dish_name}}" class="w-full h-full object-cover absolute inset-0" />
                  <div class="relative text-center p-2" style="color:{{food.text-color}}">
                    <p  class="heading">
                          {{food.dish_name}}
                        </p>
                        <p  class="heading">
                          {{food.price}}
                        </p>
                      </div>
                    </div>
                    {% if food.image %}
                    {% endif %}
                {% endfor %}
              </div>


                

            </div>
            

            {% endfor %}
            

            <script>
              const menuNav = document.querySelector('.menu-nav');
              const textMenuIcon = document.querySelector('.text-menu-icon');
              const imageMenuIcon = document.querySelector('.image-menu-icon');
              const menuSection = document.querySelector('.menu-section');

              textMenuIcon.addEventListener('click', function() {
                menuNav.classList.remove('showing-image-menu');
                menuNav.classList.add('showing-text-menu');
                menuSection.classList.remove('showing-image-menu');
                menuSection.classList.add('showing-text-menu');
              });

              imageMenuIcon.addEventListener('click', function() {
                menuNav.classList.remove('showing-text-menu');
                menuNav.classList.add('showing-image-menu');
                menuSection.classList.remove('showing-text-menu');
                menuSection.classList.add('showing-image-menu');
              });

            </script>
    </section>

    <style>
        .menu-section p {
        padding-bottom: .3em;
        }

        .menu-section h3 {
          font-size: 3rem;  
        }
        @media (min-width: 768px) {
        .menu-section h3 {
          font-size: 4rem;
        }
        }

      .px-5p {
        padding-left: 5%;
        padding-right: 5%; 
      }
    </style>
<!-- 
<script>
const menuSection = document.querySelector('.menu-section');
const menuItems = document.querySelectorAll('.slider-menu-item');

let largestMenu = 0;

menuItems.forEach((menu, index) => {
console.log(menu,menu.offsetHeight,largestMenu);
    if (menu.offsetHeight > largestMenu) {
        largestMenu = menu.offsetHeight;
    }
})

// menuSection.style.height = `${largestMenu * 1.1}px`;


        function slide(x) {
            console.log(x);
            menuSection.scrollTo({
                left: x * window.innerWidth,
                behavior: 'smooth'
            });
        }
    </script> -->

    <section class="base-section relative z-30 md:py-64 ">
        <div class="max-w-screen-sm mx-auto">
            <div class="text-center">
                <img src="/assets/images/make-a-reservatrion-large.svg" alt="" class="mx-auto" style="width: 23rem;" />
            </div>
            <div class="editable flex flex-col text-center">
              <p></p>
              <p></p>

                <p> Giselle is a restaurant born from friendship and love, created by a group of friends with deep roots and experience in hospitality. More than just a place to eat, it reflects the soul of the Riviera — warm, vibrant, and timeless, like an endless summer. </p>
              <p></p>
              <p></p>

            </div>
            <div class="text-center">
              <a href="https://www.sevenrooms.com/explore/giselle/reservations/create/search/" class=" px-8 py-4 inline-block dark-section editable letter-spacing book-now-button">BOOK NOW</a>
            </div>
            

    </div></section>

    <section class="bg-cover bg-center relative z-30" style="background-image: url('/assets/images/beach.png'); min-height: min(44vw,50vh);">>

    </section>