---
layout: default
banner:
  description: >-
    Designed by Chef Darquin, our French co-founder, this menu tells two
    stories: the raw delicacy of crudo and the bold power of dishes touched by
    fire. Fresh, simple, yet refined, each plate carries the soul of the
    Mediterranean and the effortless elegance of the Riviera. We work
    exclusively with sustainable local fishermen. As such, our fish offering may
    vary depending on the day’s freshest catch.
  text-color: '#ffffff'
  overlay-color:
    color: '#722'
    opacity: 0
  image: /assets/images/beach-cooking.jpg
  hide-small-logo: false
burger-menu:
  background-color: '#e6b446'
  text-color: '#fff'
menus:
  - name: bites
    dishes:
      - dish_name: 'Truffle Croque Toast '
        price: 75
      - dish_name: Beef Tartare, Potato Millefeuilles
        price: 65
      - dish_name: Sea Bream Tartelette, Yuzu
        price: 45
      - dish_name: Marinated Sweet Peppers, Herb Butter, Sardine
        price: 45
      - dish_name: Smoked Whitefish Croquettes
        price: 65
      - dish_name: Gougère Comté Cheese & Ibérico Ham
        price: 120
  - name: plates
    dishes:
      - dish_name: Bread and Butter
        price: 50
      - dish_name: 'Jamón Ibérico Bellota '
        price: 250
      - dish_name: G.F.C - Giselle Fried Chicken (5pc)
        price: 150
      - dish_name: Oyster, Leche de Tigre, Tomatoes, Basil oil
        price: 150
      - dish_name: Prawns Cocktail, Romesco, Aioli
        price: 150
      - dish_name: Gougère Comté Cheese & Ibérico Ham
        price: 120
      - dish_name: Crab Roll, Beurre Blanc, French Toast
        price: 250
      - dish_name: Gazpacho, Jamón Ibérico, Melon
        price: 120
      - dish_name: 'Angus Beef Tartare , Cured Egg yolk, Parmesan Aioli '
        price: 190
      - dish_name: Tomato, Stracciatella, Strawberries, Fresh Herb
        price: 190
      - dish_name: Charcoal Ceasar Cos Salad, Anchovies, Crispy Skin
        price: 120
      - dish_name: Wood fired Cauliflower, Tempura, Miso and Pesto
        price: 90
        extra: ( add caviar +320 )
  - name: crudo
    dishes:
      - dish_name: 'Caviar Tin, Brioche, Cream, Onion Espuma '
        price: 1,690
      - dish_name: Hokkaido Scallop, Cucumber, Buttermilk
        price: 150
      - dish_name: Bluefin Tuna Tartare, Yuzu, Cucumber, Avocado
        price: 190
      - dish_name: Wild Tasmanian Salmon, Avocado, Citrus
        price: 250
      - dish_name: Dry Aged Amberjack, Pomelo, Grapes
        price: 150
  - name: seafood platter
    dishes:
      - dish_name: Oysters | Prawns | Scallop Crudo | Salmon Tartare | Tuna Tartare
        price: 890
  - name: chef hors serie
    dishes:
      - dish_name: Madai Sashimi, Yuzukosho Vinaigrette
        price: 690
      - dish_name: Caviar Pasta
        price: 990
      - dish_name: Seabass in Salt Crust, Flambéed, Beurre Blanc Noilly Prat
        price: 650
      - dish_name: Beef Wellington, Foie Gras, Mushrooms
        price: 890
      - dish_name: Wagyu Tomahawk MB8
        price: 250/100gr
  - name: mains
    dishes:
      - dish_name: Line-Caught Grouper Confit in Olive Oil, Zucchini
        price: 290
      - dish_name: Grilled Catch of the Day, Sweet Peppers, Carrot Puree 
        price: 250
      - dish_name: Grilled Octopus, Guanciale, Miso Corn, Smoked Potato Espuma
        price: 190
      - dish_name: Ashari Clams, Sake, Beurre Blanc
        price: 350
      - dish_name: Wood Fired Chicken, Supreme Sauce, Basquaise Condiment
        price: 220
      - dish_name: Mediterranean Spiced Confit Lamb Shoulder, Candied Fruit
        price: 350
      - dish_name: Fire Grilled Glazed Pork Chop, Mole Salsa, Pumpkin
        price: 290
      - dish_name: 24H Slow Braised Beef Cheek, Pomme Paillasson, Chives
        price: 290
      - dish_name: 'Wagyu Hanger Steak & Bone Marrow '
        price: 195 / 100gr
      - dish_name: Wagyu Rib Eye MB7
        price: 290 / 100gr
  - name: homemade pasta
    dishes:
      - dish_name: Agnolotti, Truffle, Paris Ham, Comté
        price: 250
      - dish_name: 'Lemon Butter Linguine, Crab, Parmesan '
        price: 290
        extra: ( add caviar +320 )
      - dish_name: Foie Gras Risotto, Black Trumpets, Parsley Cream
        price: 350
      - dish_name: Gnocchi, Sage Pesto, Stracciatella
        price: 120
  - name: sides
    dishes:
      - dish_name: "Mashed Potatoes"
        price: 70
      - dish_name: "French Fries"
        price: 40
      - dish_name: "Wood Fired Asparagus, Egg Yolk, Miso"
        price: 90
      - dish_name: Wood Fired Carrots, Garlic confit, Pollen
        price: 50
      - dish_name: Riviera Salad, Tuna, Green Beans, Baby Potatoes
        price: 80
  - name: dessert
    dishes:
      - dish_name: Grand Cru Chocolate Souffle, Olive Oil, Sea Salt
        price: 80
      - dish_name: Hazelnut and Vanilla Millefeuille, Praline
        price: 80
      - dish_name: Clafoutis, Seasonal Fruit
        price: 80
      - dish_name: "Tiramisu"
        price: 80
      - dish_name: Profiteroles, Chantilly, Grand Cru Chocolate Sauce
        price: 80
      - dish_name: Fresh Strawberries, Chantilly
        price: 90
  - name: dessert cocktails
    dishes:
      - dish_name: Espresso - Vodka, Coffee, Kahlua
        price: 130
      - dish_name: Latte - Vodka, Bailey’s, Frangelico, Coffee, Cream
        price: 150
      - dish_name: Chocolate - Cognac, Chocolate, Caramel, Coffee
        price: 130
      - dish_name: Amaretto Sour
        price: 160
      - dish_name: Chocolate Old Fashioned
        price: 130
      - dish_name: B52 - A kiss with heat
        price: 70
footer:
  background: dark
seo:
  title: Menu | Giselle Bali
  description:
  image:
  keywords:
---
<header class="bright-section text-center relative z-20 md:py-[5vh]" style=" color: {{page.banner.text-color}};">
        <div class="absolute inset-0 hidden md:grid grid-cols-2">
            <div class="absolute top-0 left-0 right-[50vw] h-full bg-cover bg-center" style="background-image: url('{{page.banner.image}}'); ">

            </div>
        </div>

        <div class="max-w-screen-2xl mx-auto flex flex-col content-between min-h-[95vh] relative z-30">
            {% include nav.html %}
          <div class=" px-12 md:p-0">

            <div class="mobile-banner bg-cover bg-cneter py-[30vh] md:py-0 mt-[9rem] md:mt-0">
              <div class="hidden md:block text-center">
                {% include banner-svg/dine-with-us.html width="80%" %}
              </div>
              <div class="md:hidden text-center">
                {% include banner-svg/menu.html width="80%" %}
              </div>
              <!-- <img src="{{page.banner.banner-svg}}" alt="starters" class="m-auto" style="width: 80%"/> -->
            </div>
          </div>

            <div class="md:grid grid-cols-2 p-12 m-auto">
                <div></div>
                <div class="text-left justify-center md:px-24">
                    <p> {{page.banner.description}} </p>
                </div>

            </div>
        </div>
    </header>

    <style>
        .mobile-banner{
            background-image: url('{{page.banner.image}}');
        }

        @media screen and (min-width: 768px) {
            .mobile-banner{
                background-image: none;
            }
          
        }

    </style>


    <!-- menu fun -->
    <section class="sticky top-0 z-20 md:py-4 flex! flex-nowrap overflow-scroll base-section">
      {% for menu in page.menus %}
      <a class="{% if forloop.first %} pl-0 {% endif %} button whitespace-nowrap" href="#{{menu.name | replace: ' ',''}}">{{menu.name}}</a>
      {% endfor %}
    </section>

    <!-- extra sticky code -->
    <style>
      body {
        max-height: 100vh;
        overflow: scroll;
      }
    </style>

    <section class="menu-section z-10  p-0! h-initial" style="scroll-snap-type: x mandatory;">

{% for menu in page.menus %}
<div class="px-5p px-[5%] py-[5%]  {% cycle 'featured-section pb-0','featured-section pb-0','featured-section pb-0','featured-section','dark-section pb-0','dark-section pb-0','dark-section pb-0','dark-section','bright-section b-0','bright-section' %}">
  
            <div class="max-w-screen-md mx-auto content-between relative z-10 md:pb-4 slider-menu-item" id="{{menu.name | replace: ' ',''}}">
                <div>
                  <h3 class="h1 cursive">
                    {{menu.name}}
                  </h3>
                </div>
                {% for food in menu.dishes %}
                <div class="flex justify-between gap-8">
                    <p>{{food.dish_name}}</p>
                    <p>{{food.price}}</p>
                  </div>
                  {% if food.extra %}
                  <p>{{food.extra}}</p>
                  {% endif %}
                
                {% endfor %}
                

            </div>
            
</div>
            {% endfor %}
            
    </section>

    <style>
        .menu-section p {
        padding-bottom: .3em;
        }

        .menu-section h3 {
          font-size: 3rem;  
        }
        @media (min-width: 768px) {
        .menu-section h3 {
          font-size: 4rem;
        }
        }

      .px-5p {
        padding-left: 5%;
        padding-right: 5%; 
      }
    </style>
<!-- 
<script>
const menuSection = document.querySelector('.menu-section');
const menuItems = document.querySelectorAll('.slider-menu-item');

let largestMenu = 0;

menuItems.forEach((menu, index) => {
console.log(menu,menu.offsetHeight,largestMenu);
    if (menu.offsetHeight > largestMenu) {
        largestMenu = menu.offsetHeight;
    }
})

// menuSection.style.height = `${largestMenu * 1.1}px`;


        function slide(x) {
            console.log(x);
            menuSection.scrollTo({
                left: x * window.innerWidth,
                behavior: 'smooth'
            });
        }
    </script> -->

    <section class="base-section relative z-30 md:py-64 ">
        <div class="max-w-screen-sm mx-auto">
            <div class="text-center">
                <img src="/assets/images/make-a-reservatrion-large.svg" alt="" class="mx-auto" style="width: 23rem;" />
            </div>
            <div class="editable flex flex-col text-center">
              <p></p>
              <p></p>

                <p> Giselle is a restaurant born from friendship and love, created by a group of friends with deep roots and experience in hospitality. More than just a place to eat, it reflects the soul of the Riviera — warm, vibrant, and timeless, like an endless summer. </p>
              <p></p>
              <p></p>

            </div>
            <div class="text-center">
              <a href="https://www.sevenrooms.com/explore/giselle/reservations/create/search/" class=" px-8 py-4 inline-block dark-section editable letter-spacing book-now-button">BOOK NOW</a>
            </div>
            

    </div></section>

    <section class="bg-cover bg-center relative z-30" style="background-image: url('/assets/images/beach.png'); min-height: min(44vw,50vh);">>

    </section>